//
   Created by mengyan on 3/8/15.

html
    head
        meta(charset='utf-8')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
        script(src='js/Config.js')
        link(rel='stylesheet' type='text/css' href='style/Style.css')
        meta(name="viewport" content="width=device-width,height=device-height,initial-scale=1.0")
    h1(align='center') SUDOKU
    body
        //start window
        div(id='start' class='center' align='center')
            button(id='start') Let's Start

        //choose difficultiy
        div(id='difficulty' class='center' align='center')
            button(id='easy' class="difficulty") Easy
            br
            button(id='medium' class="difficulty") Medium
            br
            button(id='hard' class="difficulty") Hard

        //play window
        div(id = 'playing' class='center' align='center')
            table(id='board')
            br
            table(id='numbers')
            div(id="gameOverDialog" class='fadeInDownBig')
                p Awesome!
                button(class='popup, popup-1') Restart
                div(class="divider")
                button(class='popup, popup-1') Return
    script(src='js/Util.js')
    script(src='js/Cell.js')
    script(src='js/SudokuView.js')
    script(src='js/SudokuSolver.js')
    script(src='js/SudokuGenerator.js')
    script(src='js/ViewController.js')









