//
   Created by mengyan on 3/8/15.

html
    head
        meta(charset='utf-8')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
        script(src='js/Config.js')
        link(rel='stylesheet' type='text/css' href='style/Style.css')
        meta(name="viewport" content="width=device-width,height=device-height,initial-scale=1.0")
    body
        //start window
        div(id='start' class='center' align='center')
            h1(align='center') SUDOKU
            button(id='start' class='btn') Let's Start

        //choose difficultiy
        div(id='difficulty' class='center' align='center')
            h1(align='center') SUDOKU
            button(id='easy' class="difficulty btn") Easy
            div(class="divider")
            br
            button(id='medium' class="difficulty btn") Medium
            div(class="divider")
            br
            button(id='hard' class="difficulty btn") Hard

        //play window
        div(id = 'playing' class='center')
            table(id='board' align='center')
            br
            table(id='numbers' align='center')
            div(id="gameOverDialog" align='center')
                p Awesome!
                button(id='restart' class='btn') Restart
                div(class="divider")
                button(id='return' class='btn') Return
    script(src='js/Util.js')
    script(src='js/Cell.js')
    script(src='js/SudokuView.js')
    script(src='js/SudokuSolver.js')
    script(src='js/SudokuGenerator.js')
    script(src='js/ViewController.js')









