//
   Created by mengyan on 3/8/15.

html
    head
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
        link(rel="stylesheet" type="text/css" href="style/Style.css")
    body
        #container
            table(id='board')
        br
        #numbers
            table(id='numbers')
    script(src='js/Util.js')
    script(src='js/Cell.js')
    script(src='js/SudokuSolver.js')
    script(src='js/SudokuGenerator.js')









