h1 {
  color: #2980b9; }

div.center {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#difficulty {
  display: none; }

#playing {
  width: auto;
  height: auto;
  display: none; }

body {
  background-color: #fffcf5; }

table.outerTable {
  position: relative;
  top: 10%;
  border-spacing: 2px; }

table.innerTable {
  table-layout: fixed;
  border-spacing: 1px; }

td.board, td.preSet {
  width: 30px;
  height: 30px;
  background-color: #2980b9;
  color: #FFFFFF;
  font-family: verdana;
  font-size: 1em;
  text-align: center;
  cursor: pointer; }

td.selected {
  background-color: #16a085; }

td.highlighted {
  background-color: #27ae60; }

td.preSet {
  color: #7f8c8d; }

td.warning {
  background-color: red; }

button.numbers {
  position: relative;
  vertical-align: top;
  width: 30px;
  height: 30px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #34495e;
  border: 0;
  border-bottom: 2px solid #34495e;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #34495e;
  box-shadow: inset 0 -2px #34495e;
  border-radius: 5px; }

button.numbers:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

button.numbers:hover {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: -webkit-linear-gradient(top, #3498db, #3498db);
  background-image: -moz-linear-gradient(top, #3498db, #3498db);
  background-image: -ms-linear-gradient(top, #3498db, #3498db);
  background-image: -o-linear-gradient(top, #3498db, #3498db);
  background-image: linear-gradient(to bottom, #3498db, #3498db); }

#gameOverDialog {
  width: 200px;
  height: 100px;
  display: none;
  position: fixed;
  background-color: #FFFCF5;
  opacity: 0.9;
  color: #34495e;
  font-weight: bold;
  border-radius: 1em;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    -ms-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig; }

.divider {
  width: 5px;
  height: auto;
  display: inline-block; }

.btn {
  background: #34495e;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none; }

.btn:hover {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #3498db);
  background-image: -moz-linear-gradient(top, #3498db, #3498db);
  background-image: -ms-linear-gradient(top, #3498db, #3498db);
  background-image: -o-linear-gradient(top, #3498db, #3498db);
  background-image: linear-gradient(to bottom, #3498db, #3498db); }

/*# sourceMappingURL=Style.css.map */
