h1
  color: #2980b9
div.center
  position: fixed
  height: 100%
  width: 100%

#difficulty
  display: none

#playing
  display: none

body
  background-color: #fffcf5

table.outerTable
  position: relative
  width: 100%
  height: 80%
  top: 0
  border-spacing: 2px

table.innerTable
  table-layout: fixed
  border-spacing: 1px
  width : 100%
  height: 100%

table.candidates
  position: relative
  width: 80%
  max-width: 100%
  max-height: 8%
  border-spacing: 2px

td.outer
  height: 33%
  width: 33%

td.board
  width: 33%
  height: 33%
  background-color: #2980b9
  color: #FFFFFF
  font-family: verdana,serif
  font-size: 1em
  text-align: center
  cursor: pointer

td.selected
  @extend td.board
  background-color: #16a085

td.highlighted
  @extend td.board
  background-color: #34495e

td.preSet
  @extend td.board
  font-weight: inherit

td.warning
  @extend td.board
  background-color: red

td.number
  width: 10%
  max-width: 10%

button.numbers
  position: relative
  vertical-align: top
  width: 25px
  height: 30px
  font-size: 100%
  color: white
  text-align: center
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
  background: #34495e
  border: 0
  border-bottom: 2px solid #34495e
  cursor: pointer
  -webkit-box-shadow: inset 0 -2px #34495e
  box-shadow: inset 0 -2px #34495e
  border-radius: 5px


button.numbers:active
  top: 1px
  outline: none
  -webkit-box-shadow: none
  box-shadow: none

button.numbers:hover
  top: 1px
  outline: none
  -webkit-box-shadow: none
  box-shadow: none
  background-image: -webkit-linear-gradient(top, #3498db, #3498db)
  background-image: -moz-linear-gradient(top, #3498db, #3498db)
  background-image: -ms-linear-gradient(top, #3498db, #3498db)
  background-image: -o-linear-gradient(top, #3498db, #3498db)
  background-image: linear-gradient(to bottom, #3498db, #3498db)

#gameOverDialog
  width: 200px
  height: 100px
  display: none
  position: absolute
  background-color: #FFFCF5
  opacity: 0.9
  color: #34495e
  font-weight: bold
  border-radius: 1em
  font-family: "Helvetica Neue", Helvetica, sans-serif

.divider
  width: 5px
  height: auto
  display: inline-block

.btn
  background: #34495e
  width: 40%
  -webkit-border-radius: 7px
  -moz-border-radius: 7px
  border-radius: 7px
  font-family: Arial,serif
  color: #ffffff
  font-size: 16px
  padding: 10px 20px 10px 20px
  text-decoration: none

.btn:hover
  background: #3498db
  background-image: -webkit-linear-gradient(top, #3498db, #3498db)
  background-image: -moz-linear-gradient(top, #3498db, #3498db)
  background-image: -ms-linear-gradient(top, #3498db, #3498db)
  background-image: -o-linear-gradient(top, #3498db, #3498db)
  background-image: linear-gradient(to bottom, #3498db, #3498db)

@keyframes thumb
  0%
    transform: scale(1)
  50%
    transform: scale(0.9)
  100%
    transform: scale(1)

@-webkit-keyframes thumb
  0%
    -webkit-transform: scale(1)
  50%
    -webkit-transform: scale(0.9)
  100%
    -webkit-transform: scale(1)

@-moz-keyframes thumb
  0%
    -moz-transform: scale(1)
  50%
    -moz-transform: scale(0.9)
  100%
    -moz-transform: scale(1)

.complete
  animation-name: thumb
  animation-duration: 200ms
  transform-origin: 50% 50%
  animation-iteration-count: 2
  animation-timing-function: linear

  -webkit-animation-name: thumb
  -webkit-animation-duration: 200ms
  -webkit-transform-origin: 50% 50%
  -webkit-animation-iteration-count: 2
  -webkit-animation-timing-function: linear

  -moz-animation-name: thumb
  -moz-animation-duration: 200ms
  -moz-transform-origin: 50% 50%
  -moz-animation-iteration-count: 2
  -moz-animation-timing-function: linear

